.header {
    height: 10em;
    padding: 5em;
    font-size: 2em;
    background-image: url("../imgs/fondo.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 2em;
}

section {
    display: flex;
    margin: 2rem;
    justify-content: center;
    font-weight: bold;
    flex: 200px;
    font-size: 2rem;
}

img {
    width: 50rem;
}

footer {
    background-color: rgb(185, 112, 41);
    margin: auto;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}